@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  } 

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #ffbf00;
    font-family: 'Product Sans';
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

.panels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
   
}

.panel {
    background: #6B0F9C;
    -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s,
    -webkit-box-flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    transition: 
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s,
    -webkit-box-flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    transition: 
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
    transition: 
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s,
    -webkit-box-flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    -ms-flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    font-size: 20px;
    background-size: cover;
    background-position: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

.panel1{ background-image: url(images/1.jpg) }
.panel2{ background-image: url(images/2.jpg) }
.panel3{ background-image: url(images/3.jpg) }
.panel4{ background-image: url(images/4.jpg) }
.panel5{ background-image: url(images/5.jpg) }
/* Flex Children */

.panel > * {
    margin: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
  }

.panel > *:first-child { -webkit-transform: translateY(-100%); transform: translateY(-100%);}
.panel.open-active > *:first-child { -webkit-transform: translateY(0); transform: translateY(0);}
.panel > *:last-child { -webkit-transform: translateY(100%); transform: translateY(100%);}
.panel.open-active > *:last-child { -webkit-transform: translateY(0); transform: translateY(0);}

.panel p {
    text-transform: uppercase;
    font-family: 'Product Sans';
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75), 0 0 14px rgba(0, 0, 0, 0.50);
    font-size: 2em; 
}

.panel p:nth-child(2) {
    font-size: 3em;
}

.panel.open {
    font-size: 40px;
    font-weight: bolder;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
}

